.createButton {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.dialog {
  width: 100%;
}

.dialogContent {
  padding: 10px !important;
}

.controllButtons {
  margin-top: 10px;
}

.formElem {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.drawer {
  width: 30%;
}

.drawerContainer {
  height: 100%;
  padding: 20px;
}

.drawerFilterElem {
  margin-bottom: 20px !important;
}

.drawerFilterTitle {
  margin-bottom: 40px !important;
}

.filterButton {
  height: fit-content;
}