.sideBar {
  height: 100%;
  background-color: #BCD3F2 !important;
}

.sideBarLink:hover {
  background-color: #a0c3f0;
}

.sideBarLinkActive {
  background-color: #82b0eb !important;
}

.sideBarLink {
  background-color: #BCD3F2;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  padding: 15px;
}
